$color-primary: #7380ec;
$color-danger: #ff7782;
$color-success: #41f1b6;
$color-warning: #ffbb55;

$color-info-dark: #7d8da1;
$color-info-light: #dce1eb;
$color-primary-variant: #111e88;

// $color-dark: #363949;
// $color-white: #fff;
// $color-light: rgba(132,139,200,0.18);
// $color-dark-variant:#677483;
// $color-background:#f6f6f9;

$color-background: #181a1e;
$color-white: #202528;
$color-dark: #edeffd;
$color-dark-variant: #a3bdcc;
$color-light: rgba(0, 0, 0, 0.4);
$box-shadow: 0 2rem 3rem $color-light;

//breaking point
$breakpoint-tablet: 850px;
$breakpoint-mobile: 700px;
$breakpoint-ipad: 1280px;
